{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UNHM Transer Credit </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
       <a href="http://127.0.0.1:8000/transfer/" title="Home" rel="home" id="logo">
          <img src="https://paulcollege.unh.edu/cep/sites/paulcollege.unh.edu.cep/themes/cep/logo.png" alt="Home">

    </header>

  </body>
</html>
{% block content %}
{% endblock content %}
